﻿
@{
    ViewBag.Title = "Drivers list";
}
<p>
    <h2>@ViewBag.Title.</h2>
</p>
<hr />


<div class="btn-toolbar justify-content-end" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
        <button class="btn btn-outline-success btn-sm" data-bind="click: Data.Add">Добавить</button>
    </div>
</div>
<br />
<table class="table table-bordered">
    <thead class="bg-dark table-dark">
        <tr>
            @foreach (var item in new string[] { "Name" })
            {
                <td>@item</td>
            }
            <td></td>
        </tr>
    </thead>
    <tbody data-bind="foreach: Data.Storage()">
        <tr>
            <td>
                <input type="text" class="form-control" data-bind="value: Item.Name, disable: Saved" />
            </td>
            <td>
                <!-- ko ifnot: Saved-->
                <button class="btn btn-success btn-sm" data-bind="click: (data,e)=> { e.target.remove(); $parent.Data.Save(Item.Name, $index()) }">Сохранить</button>
                <!-- /ko -->
                <button class="btn btn-danger btn-sm" data-bind="click: (data, e)=> { $parent.Data.Delete(Item.Name, e.target.id) }, attr: { id: $index }">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>
@Scripts.Render("~/Scripts/js/Pages/Driver.js")
