﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Data Base Editor</h1>
    <p class="lead">Это простой пример применения следующих технологий: ASP.NET mvc, knockout, EntityFramework, Bootstrap.</p>
    <hr class="my-4">
    <p>Выберите сущность БД.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Home/Letter" role="button">Letter</a>
        <a class="btn btn-primary btn-lg" href="/Home/Driver" role="button">Driver</a>
        <a class="btn btn-primary btn-lg" href="/Home/BidData" role="button">Bid data</a>
    </p>
</div>