﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    <script src="~/Scripts/knockout-3.5.0.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav justify-content-center">
                <li class="nav-item"><a class="nav-link" href="/Home/Index">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/Home/Letter">Letter</a></li>
                <li class="nav-item"><a class="nav-link" href="/Home/Driver">Driver</a></li>
                <li class="nav-item"><a class="nav-link" href="/Home/BidData">Bid data</a></li>
            </ul>
        </div>
    </nav>
    <div class="body-max-size">
        <div class="container body-content ">

            @RenderBody()
        </div>
    </div>
    <footer class="text-center bg-dark text-white">
        <p class="m-0">&copy; @DateTime.Now.Year – приложение ASP.NET</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
