﻿body {
    padding: 0;
    margin: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.modal-cover {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0, .7);
    height: 100vh;
    width: 100%;
    z-index: 99999;
}

.body-max-size{
    height: calc(100vh - 120px);
    overflow-y: auto;
}

a{
    color: white;
}

footer{
    padding: 20px 20px 20px 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
